---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { motion } from "framer-motion";
import { Sparkles } from "lucide-react";

import "animate.css";
import "aos/dist/aos.css";

import CostCompiler from "@/assets/costcompiler.svg";
import Ionisium from "@/assets/ionisium.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="programita d3">
  <!-- Hero Section -->
  <section class="relative overflow-hidden px-4 py-16 md:py-32">
    <div class="container mx-auto relative z-10">
      <motion.div
        initial={{ opacity: 0, y: 50 }}
        animate={{ opacity: 1, y: 0 }}
        transition={{ duration: 1, ease: "easeOut" }}
        className="group text-center space-y-8 py-20"
        client:load
      >
        <div
          class="inline-flex items-center gap-2 rounded-full bg-black dark:bg-zinc-800 px-4 py-2 text-sm text-black font-semibold shadow-special group-hover:shadow-special-extra transition-all duration-500"
        >
          <Sparkles className="mr-2 h-5 w-5 text-white" client:load />
          <span class="text-white">
            {t("hero.sparkles")}
          </span>
        </div>
        <h1
          class="text-5xl md:text-7xl font-extrabold text-primary-light dark:text-primary"
        >
          <span class="font-pixelify">programita d3</span>
        </h1>
        <p
          class="mt-4 text-lg md:text-xl max-w-4xl mx-auto text-primary dark:text-primary-light"
        >
          {t("hero.description")}
        </p>
        <a
          href="mailto:contact@programitad3.es"
          class="mt-8 flex justify-center gap-4"
        >
          <Button
            size="lg"
            className="shadow-xl cursor-pointer text-white dark:text-black"
          >
            {t("hero.cta_primary")}
          </Button>
        </a>
      </motion.div>
    </div>
  </section>

  <!-- Productos Section -->
  <section
    id="productos"
    class="py-24 bg-muted/50 dark:bg-muted/70 animate__animated animate__fadeIn"
    data-aos="fade-up"
  >
    <div class="container mx-auto">
      <div class="text-center mb-16">
        <h2
          class="text-3xl md:text-4xl font-bold mb-4 text-foreground dark:text-foreground-light animate__animated animate__fadeInUp"
        >
          {t("productos.title")}
        </h2>
        <p
          class="text-muted-foreground dark:text-muted-foreground-light max-w-2xl mx-auto animate__animated animate__fadeInUp"
        >
          {t("productos.description")}
        </p>
      </div>

      <div class="grid md:grid-cols-2 gap-8">
        <!-- Ionisium Card -->
        <Card
          className="flex flex-col h-full animate__animated animate__fadeInUp"
          data-aos="fade-up"
          client:load
        >
          <CardHeader className="relative group" client:load>
            <a
              href="https://ionisium.es/"
              class="absolute h-full w-full opacity-0 group-hover:opacity-35 transition-opacity duration-1000 filter blur-3xl mix-blend-multiply"
            >
              <div
                class="absolute top-[30%] left-[22%] w-72 h-72 bg-purple-300 rounded-full animation-delay-2000 animate-blob"
              >
              </div>
              <div
                class="absolute top-[28%] right-[42%] w-72 h-72 bg-yellow-300 rounded-full animate-blob"
              >
              </div>
              <div
                class="absolute bottom-[22%] left-[48%] transform -translate-x-1/2 w-72 h-72 bg-pink-300 rounded-full animation-delay-4000 animate-blob"
              >
              </div>
            </a>
            <div>
              <div
                class="aspect-video rounded-md flex items-center justify-center mb-4"
              >
                <Ionisium width="80%" height="80%" />
              </div>
            </div>
            <CardTitle
              className="font-pixelify text-2xl text-foreground dark:text-foreground-light"
              >Ionisium</CardTitle
            >
          </CardHeader>
          <CardContent client:load>
            <p class="text-muted-foreground dark:text-muted-foreground-light">
              {t("productos.ionisium.description")}
            </p>
          </CardContent>
          <CardFooter className="mt-auto" client:load>
            <Button asChild>
              <a href="https://ionisium.es/" target="_blank"
                >{t("productos.moreinfo")}</a
              >
            </Button>
          </CardFooter>
        </Card>

        <!-- CostCompiler Card -->
        <Card
          className="flex flex-col h-full animate__animated animate__fadeInUp"
          data-aos="fade-up"
          client:load
        >
          <CardHeader className="relative group" client:load>
            <a
              href="https://costcompiler.com/"
              class="absolute h-full w-full opacity-0 group-hover:opacity-35 transition-opacity duration-1000 filter blur-3xl mix-blend-multiply"
            >
              <div
                class="absolute top-[30%] left-[22%] w-72 h-72 bg-purple-300 rounded-full animation-delay-2000 animate-blob"
              >
              </div>
              <div
                class="absolute top-[28%] right-[42%] w-72 h-72 bg-yellow-300 rounded-full animate-blob"
              >
              </div>
              <div
                class="absolute bottom-[22%] left-[48%] transform -translate-x-1/2 w-72 h-72 bg-pink-300 rounded-full animation-delay-4000 animate-blob"
              >
              </div>
            </a>
            <div>
              <div
                class="aspect-video rounded-md flex items-center justify-center mb-4"
              >
                <CostCompiler width="80%" height="80%" />
              </div>
            </div>
            <CardTitle
              className="font-pixelify text-2xl text-foreground dark:text-foreground-light"
              >CostCompiler</CardTitle
            >
          </CardHeader>
          <CardContent client:load>
            <p class="text-muted-foreground dark:text-muted-foreground-light">
              {t("productos.costcompiler.description")}
            </p>
          </CardContent>
          <CardFooter className="mt-auto" client:load>
            <Button asChild>
              <a href="https://www.costcompiler.com/" target="_blank"
                >{t("productos.moreinfo")}</a
              >
            </Button>
          </CardFooter>
        </Card>
      </div>
      <div class="text-center mt-16">
        <p
          class="text-lg text-muted-foreground dark:text-muted-foreground-light animate__animated animate__fadeInUp"
        >
          {t("productos.more")}
        </p>
      </div>
    </div>
  </section>

  <!-- Sobre Nosotros Section -->
  <section
    id="nosotros"
    class="py-24 px-4 md:px-0 animate__animated animate__fadeIn"
    data-aos="fade-up"
  >
    <div class="container mx-auto">
      <div class="grid md:grid-cols-2 gap-12 items-center">
        <div
          class="rounded-lg aspect-square md:aspect-auto md:h-96 flex items-center justify-center animate__animated animate__fadeInUp"
        >
          <img
            src="/car-thing.webp"
            alt="Nuestro equipo"
            class="rounded-lg h-full object-cover"
          />
        </div>
        <div>
          <h2
            class="text-3xl md:text-4xl font-bold mb-6 text-foreground dark:text-foreground-light animate__animated animate__fadeInUp"
          >
            {t("nosotros.title")}
          </h2>
          <div
            class="space-y-4 text-muted-foreground dark:text-muted-foreground-light animate__animated animate__fadeInUp"
          >
            <p>{t("nosotros.description1")}</p>
            <p>{t("nosotros.description2")}</p>
            <p>{t("nosotros.description3")}</p>
          </div>
          <div class="mt-8">
            <Button asChild>
              <a href="#contacto">{t("contacto.title")}</a>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section
    id="contacto"
    class="pt-24 pb-48 px-4 md:px-0 bg-background text-foreground dark:bg-background dark:text-foreground animate__animated animate__fadeIn"
    data-aos="fade-up"
  >
    <div class="container mx-auto text-center">
      <h2
        class="text-3xl md:text-4xl font-bold mb-6 animate__animated animate__fadeInUp"
      >
        {t("contacto.title")}
      </h2>
      <p
        class="text-xl max-w-2xl mx-auto mb-8 text-muted-foreground dark:text-muted-foreground animate__animated animate__fadeInUp"
      >
        {t("contacto.description")}
      </p>
      <Button size="lg" variant="secondary" asChild client:load>
        <a href="#">{t("contacto.title")}</a>
      </Button>
    </div>
  </section>
</Layout>

<style>
  /* Add any custom styles here */
  .animate-blob {
    animation: blob-bounce 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

  @keyframes blob-bounce {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
</style> 